<section class="about" id="about">
    <div class="container">
        <h2>About</h2>
        <span class="seperator"></span>    
    </div>
    <div class="row">
        <div class="col-lg-3 col-md-12">
            <div class="about__image img-container">
                <img src="../../../assets/jj.jpg" alt="My Image" class="img-fluid">
            </div>
        </div>
        <div class="col-lg-9 col-md-12">
            <div class="about__content">
                <p>I'm a junior software developer, specialized in Angular web development, Python backend development and databases.</p>
                <div class="about__list">
                    <div class="row">
                        <div class="col-lg-6 col-md-12 col-sm-12">
                            <ul>
                                <li><i class="fa-solid fa-chevron-right"></i> Lorem, ipsum dolor.</li>
                                <li><i class="fa-solid fa-chevron-right"></i> Lorem, ipsum dolor.</li>
                                <li><i class="fa-solid fa-chevron-right"></i> Lorem, ipsum dolor.</li>
                                <li><i class="fa-solid fa-chevron-right"></i> Lorem, ipsum dolor.</li>
                            </ul>
                        </div>
                        <div class="col-lg-6 col-md-12 col-sm-12">
                            <ul>
                                <li><i class="fa-solid fa-chevron-right"></i> Lorem, ipsum dolor.</li>
                                <li><i class="fa-solid fa-chevron-right"></i> Lorem, ipsum dolor.</li>
                                <li><i class="fa-solid fa-chevron-right"></i> Lorem, ipsum dolor.</li>
                                <li><i class="fa-solid fa-chevron-right"></i> Lorem, ipsum dolor.</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse consequatur hic nemo, aliquam voluptate minus quae officiis harum reprehenderit cum inventore reiciendis quisquam explicabo eveniet blanditiis numquam ad iste rem dolorem. Eos nisi perferendis neque repellat temporibus, ab autem corrupti, voluptate minima illum amet rem.</p>
            </div>
        </div>
    </div>
</section>