<section class="about" id="about">
    <div class="container">
        <h2>About</h2>
        <span class="seperator"></span>    
    </div>
    <div class="row">
        <div class="col-lg-3 col-md-12">
            <div class="about__image img-container">
                <img src="../../../assets/jj.jpg" alt="My Image" class="img-fluid">
            </div>
        </div>
        <div class="col-lg-9 col-md-12">
            <div class="about__content">
                <p>I'm a junior software developer, specialized in Angular framework for client-side development, and Python for server-side development using Django framework.</p>
                <div class="about__list">
                    <div class="row">
                        <div class="col-lg-6 col-md-12 col-sm-12">
                            <ul>
                                <li><i class="fa-solid fa-chevron-right"></i> <strong> Website:</strong> https://github.com/jalaaJ</li>
                                <li><i class="fa-solid fa-chevron-right"></i> <strong> Phone:</strong> 0543300104</li>
                                <li><i class="fa-solid fa-chevron-right"></i> <strong> City:</strong> Majdal Shams, Golan Heights</li>
                            </ul>
                        </div>
                        <div class="col-lg-6 col-md-12 col-sm-12">
                            <ul>
                                <li><i class="fa-solid fa-chevron-right"></i> <strong> Age:</strong> 28</li>
                                <li><i class="fa-solid fa-chevron-right"></i> <strong> Degree:</strong> B.Sc, Computer Science</li>
                                <li><i class="fa-solid fa-chevron-right"></i> <strong> Email:</strong> jalaaabusaleh.95@gmail.com</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse consequatur hic nemo, aliquam voluptate minus quae officiis harum reprehenderit cum inventore reiciendis quisquam explicabo eveniet blanditiis numquam ad iste rem dolorem. Eos nisi perferendis neque repellat temporibus, ab autem corrupti, voluptate minima illum amet rem.</p>
            </div>
        </div>
    </div>
</section>