<section class="resume" id="resume">
        <div class="resume__skills">
            <div class="container">
                <h2>Skills</h2>
                <span class="seperator"></span>
                    <ul class="d-flex">
                        <li>
                            <i class="devicon-angularjs-plain colored"></i>
                        </li>
                        <li>     
                            <i class="devicon-python-plain-wordmark colored"></i>
                        </li>
                        <li>
                            <i class="devicon-django-plain-wordmark"></i>
                        </li>
                        <li>
                            <i class="devicon-firebase-plain-wordmark"></i>
                        </li>
                        <li>
                            <i class="devicon-nodejs-plain-wordmark"></i>
                        </li>
                        <li>
                            <i class="devicon-postgresql-plain-wordmark colored"></i>
                        </li>
                        <li>
                            <i class="devicon-mongodb-plain-wordmark colored"></i>
                        </li>
                        <li>
                            <i class="devicon-git-plain-wordmark colored"></i>
                        </li>
                        <li>
                            <i class="devicon-linux-plain colored"></i>
                        </li>
                        <li>
                            <i class="devicon-bash-plain colored"></i>
                        </li>
                    </ul>
            </div>
        </div>
        <div class="resume__details">
            <div class="continer">
                <h2>Resume</h2>
                <span class="seperator"></span>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora ipsam harum distinctio maxime, perspiciatis quam, officia adipisci eius quia aut, esse sed! Atque, corporis mollitia.</p>
                <div class="row">
                    <div class="col-lg-6 col-md-12 col-sm-12">
                        <h2>Summary</h2>
                        <div class="resume__resume-item">
                            <h3>Jalaa Abu Saleh</h3>
                            <i>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit libero, temporibus ipsam molestiae quo harum?</i>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12 col-sm-12">
                        
                    </div>
                </div>
            </div>
        </div>
</section>